# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51N5t1sKehj7lEGACXbeof3meBcDG9u4qPNuNmSpxcV3t6OpKAzf4JFoUm1FVzky6M0ZAcm31jy2au09Deqy6pXIW00znQPBoLJ
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=

# Make.com Webhooks
MAKE_WEBHOOK_URL_EMAIL=https://hook.eu2.make.com/5sbpvygadkhm3st83rrcglnwnj9evpwt
MAKE_WEBHOOK_URL_CONTRACT=https://hook.eu2.make.com/3zp2k2ce57wt7iacetaha9ouh7irv5wh

# Application URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

